@* Sử dụng Bootstrap để tạo một thanh điều hướng *@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Icon TMP* -->
        <a class="navbar-brand" href="#">
            <i class="bi bi-star"></i> TMP*
        </a>

        <!-- Nút để mở menu trên thiết bị di động -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Các mục trong thanh Navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
            <!-- Nút Đăng nhập nằm bên phải -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" href="#">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


